.header {
  width: 100%;
  height: 65px;
  background: #22577a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header > div > button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > div > a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.header > div > a i {
  font-style: normal;
  font-size: 14px;
  padding-left: 5px;
  font-weight: normal;
}

.header > div > h2 {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-style: normal;
  font-size: 24px;
}

.header > input {
  width: calc(100% / 2.5);
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
  border-radius: 5px;
}
