.history {
  width: 100%;
  height: calc(100vh - 65px);
  overflow: hidden;
  overflow-y: auto;
}

.history_header {
  width: 100%;
  padding: 2% 3%;
  display: flex;
  gap: 30px;
}

.history_header input {
  width: calc(100% / 2 - 15px);
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.history > table {
  width: 100%;
  border-collapse: collapse;
  border-color: #fff;
  color: #fff;
}

.history > table :where(th, td) {
  padding: 10px;
}

.history > table thead {
  position: sticky;
  top: 0;
  background: inherit;
  background: #333;
  border-top: 0;
}
