* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.07rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 0.2vw;
  background-color: #f80a0a;
}
::-webkit-scrollbar-thumb {
  background: #0202f5;
}
