#main-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

#header {
  width: 100vw;
  height: 7vh;
}

/* content */

#content {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#content-left {
  width: 75vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}

#content-right {
  width: 25vw;
  height: 93vh;
}

@media (max-width: 1600px) {
  /* header */
  #header {
    height: 10vh;
  }

  #content {
    height: 90vh;
  }

  #content-left {
    height: 90vh;
  }

  #content-right {
    height: 90vh;
  }
}

@media (max-width: 1280px) {
  #header {
    height: 9vh;
  }

  #content {
    height: 91vh;
  }

  #content-left {
    width: 70vw;
    height: 91vh;
  }

  #content-right {
    width: 30vw;
    height: 91vh;
  }
}
