#main-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

#header {
  width: 100vw;
  height: 7vh;
  background-color: rgba(250, 235, 215, 0.543);
}

/* content */

#content {
  width: 100vw;
  height: 93vh;
  background-color: rgba(234, 185, 122, 0.233);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#content-left {
  width: 75vw;
  height: 93vh;
  background-color: rgba(122, 232, 234, 0.233);
}

#content-right {
  width: 25vw;
  height: 93vh;
  background-color: rgba(245, 32, 32, 0.233);
}
