* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: url(../Images/BgLoginPage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
