* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 0.08vw !important;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: url(../Images/BgLoginPage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#close-modal {
  width: 2vw !important;
  height: 2vw !important;
}

#close-modal > svg {
  width: 1.6vw !important;
  height: 1.6vw !important;
}

@media (max-width: 1440px) {
  #close-modal {
    width: 3vw !important;
    height: 3vw !important;
  }

  #close-modal > svg {
    width: 2vw !important;
    height: 2vw !important;
  }
}
