#salesHistory {
  width: 490px;
  height: auto;
  max-height: 600px;
  padding: 5%;
}

#sales-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

#sales-product > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.064);
}

#sales-product > div > p > span {
  padding-right: 10px;
}
