#salesHistory {
  width: 25vw;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
}

@media (max-width: 1290px) {
  #salesHistory {
    width: 33vw;
    height: 90vh;
  }
}

#salesHistory::-webkit-scrollbar {
  width: 0.3vw;
  background: transparent;
}

#salesHistory::-webkit-scrollbar-thumb {
  background: #0e233b88;
}

#sales-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.1vw;
  background-color: rgba(152, 177, 177, 0.082);
  padding: 5%;
}

#sales-product > h2 {
  color: #4d9ee9;
  text-align: center;
  font-size: 1.4vw;
}
#sales-product > h3 {
  color: red;
  text-align: center;
  font-size: 1.2vw;
}

#sales-product > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sales-product > div > p {
  margin-bottom: 0.1vw;
  font-size: 0.9vw;
}

#sales-product > div > p > span {
  padding-right: 0.4vw;
}

#product-price {
  color: #4d9ee9 !important;
}
