#product {
  max-width: 24%;
  min-width: 24%;
  max-height: 9vw;
  min-height: 9vw;
  background: #ffffffe1;
  margin: 0.2vw;
  border-radius: 0.15vw;
  overflow: hidden;
  padding: 1vw;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#product > :nth-child(1) {
  font-size: 1.5vw;
  text-align: center;
  color: #2780bc;
  font-weight: 600;
}

#product > :nth-child(2) {
  font-size: 1.4vw;
  font-weight: bold;
  color: #2780bc;
}

#dialog {
  margin-left: -25%;
}

#dialog > div > div {
  min-width: 25vw !important;
  max-width: 25vw !important;
  height: auto !important;
}

#dialog-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 3% 5%;
}

#dialog-content > :nth-child(1) {
  font-size: 1.5vw;
  padding-bottom: 0.5vw;
  text-align: center;
  font-weight: 600;
}
#dialog-content > :nth-child(2) {
  width: 100%;
  font-size: 1.4vw;
  padding-bottom: 0.5vw;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#dialog-content > :nth-child(2) > span {
  padding: 0.5vw;
}

#change-count {
  width: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#change-count > span {
  width: 48%;
  height: 2.5vw;
  font-size: 1.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.15vw solid #b8b2b2;
  border-radius: 0.12vw;
  overflow: hidden;
}
#change-count > input {
  width: 48%;
  height: 2.5vw;
  font-size: 1.2vw;
  border-radius: 4px;
  border: 0.15vw solid #b8b2b2;
  border-radius: 0.12vw;
  text-align: center;
}

#dialog-content > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#dialog-content > div > button {
  width: 48%;
  height: 2.5vw;
  margin-top: 0.7vw;
}

#dialog-content > div > button > svg {
  width: 1.5vw !important;
  height: 1.5vw !important;
}

#dialog-content > button {
  width: 100%;
  height: 2.5vw;
  margin-top: 0.7vw;
  font-size: 1.2vw;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 0 !important;
}

#unsuccessful-search {
  position: absolute;
  color: #fff;
}

@media (max-width: 1440px) {
  #dialog > div > div {
    min-width: 35vw !important;
    max-width: 35vw !important;
  }

  #dialog-content > :nth-child(1) {
    font-size: 2vw;
  }

  #dialog-content > :nth-child(2) {
    font-size: 1.6vw;
  }

  #change-count > span {
    height: 3.5vw;
    font-size: 1.6vw;
    border-radius: 0.3vw;
  }

  #change-count > input {
    height: 3.5vw;
    font-size: 1.6vw;
    border-radius: 0.3vw;
  }

  #dialog-content > div > button {
    height: 3.5vw;
    font-size: 1.6vw;
    border-radius: 0.3vw;
    margin-top: 1vw;
  }

  #dialog-content > div > button > svg {
    width: 2.2vw !important;
    height: 2.2vw !important;
  }

  #dialog-content > button {
    height: 3.5vw;
    font-size: 1.6vw;
    border-radius: 0.3vw;
    margin-top: 1vw;
  }
}
